﻿<!-- This object is passed a particular ID which it looks up off of the data model -->
@model Paste
@{
    ViewBag.Title = "Paste Details";
}

<!-- Our title -->
<h1 class="text-center">Paste Details</h1>

<!-- Give me some space -->
<br />

<!-- Our two fields for the lable and the content -->
<div class="row justify-content-center">
    <div class="col-sm-8">
        <h2><b>Item:</b> @Model.Label</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Your Pasted Content:</td>
            </tr>
            <tr>
                <!--  -->
                <td>@Model.PasteItem</td>
            </tr>
            <tr>
                <td>
                    <!-- Buttons to take us to the Index -->
                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back</a>
                </td>
            </tr>
        </table>
    </div>
</div>

