﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pasting Bonanza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Add Fontawesome support -->
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <div class="jumbotron jumbotron-fluid">
            <!-- Container inside a container -->
            <div class="container">
                <!-- This is our header. The instructions said to make it our own so I used a different icon -->
                <header class="jumbotron bg-info text-center">
                    <!-- display-4 was required by spec -->
                    <h1 class="display-4 text-white"><i class="fa-solid fa-paste"></i><b> <a asp-area="" asp-controller="Home" asp-action="Index" class="text-white">Pasting Bonanza</a></b></h1>
                </header>
            </div>
        </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<footer class="text-sm-center text-muted">
    <div class="row d-flex justify-content-center">
        <p>Copyright 2022: DaveLoper Consulting </p>
    </div>
    <div class="row d-flex justify-content-center">
        <p>Licensed via AGPLv3</p>
    </div>
</footer>
