﻿<!-- use the viewmodel instead of the model -->
@model PasteViewModel

<!-- Our title -->
<h2>New Paste Item</h2>

<!-- Display our validation errors -->
<div asp-validation-summary="All" class="text-danger"></div>

<!-- This form is inclusive -->
<form asp-action="Add" method="post">

    <div class="form-group">
        <!-- Label to our db entry -->
        <label asp-for="CurrentPaste.Label">Label:</label>
        <!-- Input for our label -->
        <input type="text" asp-for="CurrentPaste.Label" class="form-control">
    </div>

    <!-- division for Paste item -->
    <div class="form-group">
        <!-- label for paste item -->
        <label asp-for="CurrentPaste.PasteItem">Paste:</label>
        <!-- Input for our paste item -->
        <textarea rows="8" asp-for="CurrentPaste.PasteItem" class="form-control"></textarea>
    </div>


    <!-- Buttons for our form -->
    <!-- Buttons for add, see form asp-action and method -->
    <button type="submit" class="btn btn-success">Add</button>
    <!-- Buttons for Cancel, take us to the Index -->
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
