﻿<!-- Use viewmodel for our index data -->
@model PasteViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Description. We'll use a card for this with some lines that contain information about the app' -->
<div class="card d-flex justify-content-center">
    <h5 class="card-header">About Paste Bonanza</h5>
    <div class="card-body">
        <h5 class="card-title">Paste Bonanza is an ad-free FIFO paste bin application.</h5>
        <p class="card-text">It will keep the last 10 pastes from anyone.</p>
        <div class="card-footer">NOTE: this platform disclaims ALL pastes.</div>
    </div>
</div>

<!-- Add a line -->
<br />

<!-- This is a button which adds a new item to the database. See Add.cshtml -->
<form asp-action="Add" method="post">
    <div class="text-center">
        <div class="pastecontainer">
            <button type="submit" class="btn btn-success">Add new paste data</button>
            <br />
        </div>
    </div>
</form>

<!-- Add a line -->
<br />

<!-- Information that separates areas -->
<div class="row d-flex justify-content-center">
    <label class="text-center"><b>----- Last 10 pastes -----</b></label>
</div>

<!-- Add a line -->
<br />

<!-- Build our buttons using the view model data -->
<div class="row d-flex justify-content-center">
    <div class="pastecontainer">
        <!-- iterate through our data and attach the label -->
        @foreach (Paste p in Model.Pastes)
        {
            <form asp-action="View" method="post" asp-route-id="@p.Id">
                <input type="hidden" name="@nameof(Paste.Id)" value="@p.Id" />
                <button type="submit" name="@nameof(Paste.Label)" value="open" class="text-center btn btn-primary btn-sm">@p.Label</button><br />
            </form>
        }
        <p />
    </div>
</div>
